body{
    display:flex;
    align-items:center;
    margin:0;
    justify-content:center;
    height: 100vh;
    flex-direction: column;
    font-size:50px;
    overflow:scroll;
    position: relative;
}

.hours{
    display:none;
}

img{
    width:100vw;
    height:100vh;
    position:absolute;
    display:none;
}

button{
    font-size:20px;
}

button:hover{
    cursor:pointer;
}

.timeDiv{
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size:55px;
}

a{
    margin-top:30px;
    font-size:15px;
}

p{
    text-align:center;
    font-size:15px;
}